---
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
ColumnLimit: 120
PointerAlignment: Left
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false